{% load crispy_forms_tags%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body class="bg-success" >
<div class="container">
        
    <h1 class="display-4">CRUD POST </h1>
    <div class="container"> 
        <div class="row"> 
            <div class="col-md-6 col-md-offset-2"> 

    <form method="post" action="."  class="jumbotron">
        {% csrf_token %}


        {{ obiekt|crispy }}

        
        <!-- Wprowadź Numer: <input type="number" name="numer" class="mb-2"> <br>
        Wprowadź Imie: <input type="text" name="imie" class="mb-2"> <br>
        Wprowadź Nazwisko: <input type="text" name="nazwisko" class="mb-2"> <br>
        Wprowadź Email: <input type="email" name="email" class="mb-2"> <br> -->
        <!-- <input type="submit" /> -->
        <button type="submit"  class="btn btn-success mt-3">Zatwierdź</button><br>
    </form>
  
    <form action="/szablon_get/" class="jumbotron" >
        <input type="submit" value="zobacz liste" class="btn btn-outline-secondary"/>
    </form>

              </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>