

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD</title>


</head>
<body bgcolor="#da9d84">
<h1><font color="#1f6fff">CRUD POST</font> </h1>


<form method="post" action=".">
    {% csrf_token %}
    Wprowadź Numer: <input type="number" name="numer"> <br>
    Wprowadź Imie: <input type="text" name="imie"> <br>
    Wprowadź Nazwisko: <input type="text" name="nazwisko"> <br>
    Wprowadź Email: <input type="email" name="email"> <br>
    <button type="submit">Zatwierdź</button><br>

</form>



<form action="/szablon_get/">
    <input type="submit" value="zobacz liste" />
</form>

</body>
</html>