

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MCin</title>

<!--    <link rel="stylesheet" type="text/css" href="{% static 'neaty/css/bootstrap.min.css' %}">-->
</head>
<body bgcolor="#da9d84">
<h1><i><font color="#1f6fff">Witaj na stronie MCin company</font></i> </h1>
<h1><b><font color="#8fe816">Nic tu ciekawego..</font></b> </h1>

<font color="#67d54a">Ale kiedyś może.. coś z tego będzie..</font>

<p style="font-size:300%;"><font color="#35052d">Jak na razie to mało widać.. jak widać..</font></p>
<p style="text-align:center; font-size:200%;"><font color="#6a3260">   Małymi kroczkami..      </font></p>
<form action="add">
    Wprowadź ID: <input type="number" name="id"> <br>
    Wprowadź Imie: <input type="text" name="imie"> <br>
    Wprowadź Nazwisko: <input type="text" name="nazwisko"> <br>
    Wprowadź Email: <input type="email" name="email"> <br>
    <input type="submit", name="zatwierdź"><br>
<!--    <output name="wynik" for="numer1 numer2"></output>-->
</form>

</body>
</html>